<h1>University Reviews</h1>
<% @reviews.each do |review| %>
  <div>
    <h2><%= review.title %></h2>
    <h3>by: <%= link_to review.author.name, author_reviews_path(review.author) %></h3>
    <p><%= review.description %></p>
  </div>
<% end %>
