<h1><%= @review.title %></h1>
<p>by <%= link_to @review.university.name, university_path(@review.university) if @review.university %> (<%= link_to "Edit Post", edit_university_post_path(@review.university, @review) %>)</p>
<p><%= @review.content%> </p>
