<h2>University List</h3>


<% @universities.each do |university| %>
    <h4>
    "Name": <%=  university.name %><br>
    "Zip Code": <%=  university.address %><br>
    </h4>
<% end %>

Don't see a University on this list?
<%= link_to "Click Here to Add", '/universities/new' %>
